%html
  %head
    = wicked_pdf_stylesheet_link_tag 'themes/free_modern'

.resume-free-modern
  %header
    %h1= @resume.first_name + ' ' + @resume.last_name
    %h2= @resume.job_title
    %span
      %em= @resume.email
      |
      %em= @resume.phone_number

  - if @resume.cover_letter.present?
    %section
      %h3 Cover Letter
      = raw @resume.cover_letter.content

  - if @resume.experiences.any?
    %section
      %h3 Work History
      - @resume.experiences.each do |experience|
        .experience-item
          %h4= "#{experience.job_title} at #{experience.company_name}"
          .date-footer
            - if experience.end_date.present? || experience.current_work
              %span= "#{experience.start_date.strftime('%b %Y')} - #{experience.current_work ? 'Present' : experience.end_date.strftime('%b %Y')}"
            - if experience.city.present? || experience.province.present? || experience.country.present?
              #{","}
              - location_parts = []
              - location_parts << experience.city if experience.city.present?
              - location_parts << experience.province if experience.province.present?
              - location_parts << experience.country if experience.country.present?
              = location_parts.join(', ')
          = raw experience.content

  - if @resume.educations.any?
    %section
      %h3 Education
      - @resume.educations.each do |education|
        .education-item
          %span
            %strong= education.institution_name
            %em= "#{education.degree} #{education.field_of_study}"
            .date-footer
              %p= "#{education.location}"
              %span= "#{education.start_date.strftime('%b %Y')} - #{education.currently_study ? 'Present' : education.end_date.strftime('%b %Y')}"

  - if @resume.skills.any?
    %section
      %h3 Skills
      %ul.skills-list
        - @resume.skills.each do |skill|
          %span
            = skill.name

  - if @resume.social_link.present?
    %section
      %ul.social-links
        - %w(linkedin_url github_url twitter_url youtube_url facebook_url instagram_url personal_website_url).each do |link|
          - if @resume.social_link[link].present?
            %li
              = link_to @resume.social_link[link], @resume.social_link[link], target: '_blank'
