.educations
  %h3 Education
  - @resume.educations.each do |education|
    .education-item
      %h4= education.institution_name
      .date-footer
        %p= "#{degree= education.location}"
        %p= "#{education.start_date.strftime('%b %Y')} - #{education.currently_study ? 'Present' : education.end_date.strftime('%b %Y')}"
