= form_for [@resume, @resume.theme || Theme.new], url: resume_theme_path(@resume), method: :put do |f|
  .sticky-top-button-container
    = f.submit "Save Theme", class: "btn-save"
  .theme-previews
    - @themes.each do |theme|
      .theme-preview
        = label_tag "resume_theme_id_#{theme.id}" do
          = radio_button_tag 'resume[theme_id]', theme.id, @resume.theme_id == theme.id, class: 'visually-hidden', id: "resume_theme_id_#{theme.id}"
          = image_tag "themes/#{theme.name.downcase}.png", alt: theme.name, class: "img-fluid"
          %p= theme.name
