.container
  .row.justify-content-center
    .col-md-6
      %h2 Forgot your password?
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email, class: 'form-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
          %br/
        .actions
          = f.submit "Send me reset password instructions", class: 'btn-save'
      .mt-3
        = render "devise/shared/links"
