!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag 'themes/premium_classic'
  %body
    .resume-premium-classic
      .banner
        %h1= @resume.first_name + ' ' + @resume.last_name
        %h2= @resume.job_title
        .contact-info
          %span= @resume.email + ' | ' + @resume.phone_number
      %table
        %tr
          %td.left-column
            - if @resume.cover_letter.present?
              .section.cover-letter
                %h3 Summary
                %div= raw @resume.cover_letter.content

            - if @resume.experiences.any?
              .section
                %h3 Work History
                - @resume.experiences.each do |experience|
                  .experience-item
                    %h4= "#{experience.job_title} at #{experience.company_name}"
                    %p= raw experience.content
                    .date-footer
                      - if experience.end_date.present? || experience.current_work
                        %span= "#{experience.start_date.strftime('%b %Y')} - #{experience.current_work ? 'Present' : experience.end_date.strftime('%b %Y')}"
                      - if experience.city.present? || experience.province.present? || experience.country.present?
                        #{","}
                        - location_parts = []
                        - location_parts << experience.city if experience.city.present?
                        - location_parts << experience.province if experience.province.present?
                        - location_parts << experience.country if experience.country.present?
                        = location_parts.join(', ')

          %td.right-column
            - if @resume.educations.any?
              .section
                %h3 Education
                - @resume.educations.each do |education|
                  .education-item
                    %h4= education.institution_name
                    %p.degree= "#{education.degree}: #{education.field_of_study}"
                    .date-footer
                      %span
                      = "#{education.location}, "
                      = "#{education.start_date.strftime('%b %Y')} - #{education.currently_study ? 'Present' : education.end_date.strftime('%b %Y')}"

            - if @resume.skills.any?
              .section
                %h3 Skills
                %ul.skills-list
                  - @resume.skills.each do |skill|
                    %li.skill-badge= skill.name

            - if @resume.social_link.present?
              .section
                %ul.social-links
                  - %w(linkedin_url github_url twitter_url youtube_url facebook_url instagram_url personal_website_url).each do |link|
                    - if @resume.social_link[link].present?
                      %li
                        = link_to @resume.social_link[link], @resume.social_link[link], target: '_blank'
