%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    %button.navbar-toggler{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#sidebarMenu", 'aria-controls': "sidebarMenu", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
      %span.navbar-toggler-icon
    %a.navbar-brand{href: "/"}
      %strong
        %i.bi.bi-file-text-fill.me-1
        Documents:
      = current_user.resumes_count

%div.container-fluid
  %main.ms-sm-auto.px-md-4.text-white
    .container.mt-4
      .row.row-cols-1.row-cols-md-2.g-4
        - @user_resumes.each do |resume|
          - if resume.theme.name
            .col
              %small.text-muted.text-end.text-white
                last updated #{resume.updated_at.strftime("%B %d, %Y")}
              .d-none.d-md-block
                .spinner-container.d-flex.justify-content-center.align-items-center
                  .spinner-border.text-danger.spinner-border-lg{ role: "status", data: { controller: "spinner", spinner_target: "spinner" } }
                    %span.visually-hidden Loading...
                %iframe{src: "#{resume_path(resume, format: :pdf)}#toolbar=0", width: "100%", height: "750px", frameborder: "0", data: { spinner_target: "iframe" }}

              .col-md-4.d-block.d-md-none
                .theme-content
                  - @resume = resume
                  = render "layouts/resumes/#{resume.theme.name}_components/index", resume: resume


              .card-footer
                .btn-group
                  = link_to resume_path(resume), class: 'btn btn-lg me-2' do
                    %i.bi.bi-pencil-square
                  = link_to download_pdf_resume_path(resume, format: :pdf), class: 'btn btn-lg me-2' do
                    %i.bi.bi-download
                  = form_for resume, method: :delete, data: { confirm: 'Are you sure you want to delete this resume?' } do
                    = button_tag(type: 'submit', class: 'btn btn-outline-danger btn-lg') do
                      %i.bi.bi-trash
