.container-fluid
  .row
    .col-lg-3
      = render 'admin/sidebar'

    .col-lg-9
      %table.table
        %thead
          %tr
            %th.text-white Name
            %th.text-white Active
            %th.text-white Usage
            %th.text-white edit
            %th.text-white delete
        %tbody
          - @themes.each do |theme|
            %tr
              %td.text-white= theme.name
              %td.text-white= theme.active ? 'Yes' : 'No'
              %td.text-white
                =theme.download_count
              %td
                = link_to edit_admin_theme_path(theme), class: 'btn btn-outline-primary btn-sm me-2' do
                  = image_tag('pencil.png', alt: 'Edit', width: "20")
              %td
                = form_for([:admin, theme], method: :delete, data: { confirm: 'Are you sure?' }) do
                  = button_tag(type: 'submit', class: 'btn btn-outline-danger btn-sm') do
                    = image_tag('trashcan.png', alt: 'Delete', width: "20")
