= form_for([@resume, @education]) do |f|
  - if @education.errors.any?
    #error_explanation
      %h2
        = pluralize(@education.errors.count, "error")
        prohibited this education from being saved:
      %ul
        - @education.errors.full_messages.each do |message|
          %li= message

  .form-group.mb-3
    = f.label :institution_name, class: 'form-label'
    = f.text_field :institution_name, class: 'form-control'

  .form-group.mb-3
    = f.label :location, class: 'form-label'
    = f.text_field :location, class: 'form-control'

  .form-group.mb-3
    = f.label :field_of_study, class: 'form-label'
    = f.text_field :field_of_study, class: 'form-control'

  .form-group.mb-3
    = f.label :degree, class: 'form-label'
    = f.select :degree, Education.degrees.keys.map { |degree| [degree.titleize, degree] }, {}, class: 'form-select'

  .row.mb-3
    .col-md-6
      = f.label :start_date, class: 'form-label'
      = f.date_field :start_date, class: 'form-control'
    .col-md-6
      = f.label :end_date, class: 'form-label'
      = f.date_field :end_date, class: 'form-control'

  .form-check.mb-3
    = f.check_box :currently_study, class: 'form-check-input', id: 'currentStudyCheck'
    = f.label :currently_study, class: 'form-check-label', for: 'currentStudyCheck', class: 'form-label'

  = f.submit @education.new_record? ? 'Create Education' : 'Update Education', class: 'btn btn-success'
