!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %div.banner
      %h1= "#{@resume.first_name} #{@resume.last_name}"
    %div.content
      %h2 Contact Information
      %p
        %strong Email:
        = @resume.email
      %p
        %strong Phone:
        = @resume.phone_number

      - if @resume.skills.any?
        %h2 Skills
        - @resume.skills.each do |skill|
          %div.skill-badge= skill.name

      - if @resume.social_link.present?
        %h2 Social Links
        - %w[linkedin_url github_url twitter_url youtube_url facebook_url instagram_url personal_website_url].each do |link|
          - if @resume.social_link[link].present?
            %div.social-link-badge
              = "#{@resume.social_link[link]}"

      - if @resume.educations.any?
        %h2 Education
        - @resume.educations.each do |education|
          %h3= education.degree.titleize
          %p= "#{education.start_date.strftime('%b %Y')} - #{education.currently_study ? 'Present' : education.end_date.strftime('%b %Y')}"
          %p= education.institution_name

      - if @resume.experiences.any?
        %h2 Professional Experience
        - @resume.experiences.each do |experience|
          %h3= "#{experience.job_title} at #{experience.company_name}"
          %p= "#{experience.start_date.strftime('%b %Y')} - #{experience.current_work ? 'Present' : experience.end_date.strftime('%b %Y')}"
          %p= experience.description

      - if @resume.cover_letter.present?
        %h2 Summary 
        %p= @resume.cover_letter.content

:css
  body, html {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #FAFAFA;
  }

  .banner {
    background-color: #4295f5;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
  }

  .content {
    padding: 15px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
    color: #007BFF; /* Theme color for headings */
  }

  h3 {
    font-size: 18px;
    color: #495057; /* Dark gray */
  }

  .skill-badge, .social-link-badge {
    display: inline-block;
    background-color: #17A2B8; /* Teal badges for skills and social links */
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    margin: 5px 5px 5px 0;
  }

  .social-link-badge {
    background-color: #4295f5; /* Darker shade for social links */
  }
