!!!
%html
  %head
    :css
      body, html {
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      .left-column {
        width: 30%; /* Narrow column */
        padding: 15px;
        vertical-align: top;        
      }
      .right-column {
        width: 70%; /* Main content column */
        padding: 15px;
        vertical-align: top;
      }
      h1, h2, h3, h4, h5, h6, p {
        margin: 0 0 10px 0;
      }
%body
  %table
    %tr
      %td.left-column
        %h2
          = @resume.first_name
          = @resume.last_name
        %p
          %strong Email:
          = @resume.email
        %p
          %strong Phone:
          = @resume.phone_number
      %td.right-column
        %h3 Education
        - @resume.educations.each do |education|
          %p= education.degree.titleize
          %p= "#{education.start_date} - #{education.currently_study ? 'Present' : education.end_date}"
          %p= education.institution_name
        %h3 Professional Experience
        - if @resume.experiences.any?
          %h3.mb-3 Work Experience
          - @resume.experiences.each do |experience|
            %h5= experience.company_name
            %p= experience.job_title
            %p= "#{experience.start_date} - #{experience.current_work ? 'Present' : experience.end_date}"
            %p= experience.description