!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag 'premium_pdf_stylesheet/premium'
%body
  %header
    %h1= @resume.first_name + ' ' + @resume.last_name
    %h2= @resume.job_title
  %article.info
    %section.contact-info
      %p
        %i.bi.bi-envelope-fill
        = @resume.email
      %p
        %i.bi.bi-telephone-fill
        = @resume.phone_number
      - if @resume.social_link.present?
        %ul.social-links
          - %w(linkedin_url github_url twitter_url youtube_url facebook_url instagram_url personal_website_url).each do |link|
            - if @resume.social_link[link].present?
              %li
                %i{class: "bi bi-#{link.split('_').first}"}
                = link_to @resume.social_link[link], @resume.social_link[link], target: '_blank'

  %main
    - if @resume.cover_letter.present?
      %section.cover-letter
        %h2 Cover Letter
        %div= raw @resume.cover_letter.content
    - if @resume.experiences.any?
      %section.experiences
        %h2 Professional Experience
        - @resume.experiences.each do |experience|
          %div.job
            %h3= experience.job_title + " at " + experience.company_name
            %p= "#{experience.start_date.strftime('%b %Y')} - #{experience.current_work ? 'Present' : experience.end_date.strftime('%b %Y')}"
            %div= raw experience.content

    - if @resume.educations.any?
      %section.educations
        %h2 Education
        - @resume.educations.each do |education|
          %div.degree
            %h3= education.degree.titleize
            %p= "#{education.start_date.strftime('%b %Y')} - #{education.currently_study ? 'Present' : education.end_date.strftime('%b %Y')}"
            %p= education.institution_name

:css
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2C3E50;
    background-color: #EAECEF;
  }
  header, article, section, div, p {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  header {
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0;
  }
  .contact-info p, .social-links li {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .contact-info p i, .social-links li i {
    margin-right: 10px;
  }
  h1, h2 {
    margin-bottom: 0.3rem;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
  }
  h3 {
    font-size: 16px;
    color: #34495E;
  }
  .experiences, .educations {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .job, .degree {
    border-bottom: 1px solid #EEEEEE;
    padding: 0.5rem;
  }
  .social-links {
    list-style: none;
    padding: 0;
  }
  .cover-letter {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
  }
