= form_for @resume, html: { class: 'mb-4' } do |f|
  .row
    .col-md-6
      .mb-3
        = f.label :first_name, class: 'form-label'
        = f.text_field :first_name, class: 'form-control', required: true
      .mb-3
        = f.label :last_name, class: 'form-label'
        = f.text_field :last_name, class: 'form-control', required: true
      .mb-3
        = f.label :job_title, class: 'form-label'
        = f.text_field :job_title, class: 'form-control', required: true
      .mb-3
        = f.label :email, class: 'form-label'
        = f.email_field :email, class: 'form-control', required: true
    .col-md-6
      .mb-3
        = f.label :country, class: 'form-label'
        = f.text_field :country, class: 'form-control', required: true
      .mb-3
        = f.label :state, class: 'form-label'
        = f.text_field :state, class: 'form-control', required: true
      .mb-3
        = f.label :phone_number, class: 'form-label'
        = f.text_field :phone_number, class: 'form-control', required: true

  .mb-3
    .col-md-12
      = f.submit 'Next', class: 'btn btn-primary'
