%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    %button.navbar-toggler{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#sidebarMenu", 'aria-controls': "sidebarMenu", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
      %span.navbar-toggler-icon

%div.container-fluid
  %div.row
    %nav#sidebarMenu.col-md.col-lg.d-md-block.sidebar.collapse
      .position-sticky.pt-3

        - # Subscription button is hidden in development mode
        - if Rails.env.development?
          - if current_user.active_candidate_subscription?
            %turbo-frame#subscription_frame
              %p.text-muted You have Premium Access
          - else
            %turbo-frame#subscription_frame
              = button_to 'Upgrade to Premium', subscriptions_path, method: :post, class: 'btn btn-primary', data: { controller: "subscription", action: "click->subscription#createCheckoutSession", subscription_target: "button", plan_id: ENV['CANDIDATE_PLAN_ID'] }

        %ul.nav.flex-column
          %li.nav-item
            = link_to resume_path(@resume), class: 'nav-link' + (current_page?(resume_path(@resume)) ? ' active text' : ' text-white') do
              %i.bi.bi-house
              Dashboard
          %li.nav-item
            = link_to new_resume_experience_path(@resume), class: 'nav-link' + (current_page?(new_resume_experience_path(@resume)) ? ' active text' : ' text-white') do
              %i.bi.bi-briefcase
              Work experience
          %li.nav-item
            = link_to new_resume_education_path(@resume), class: 'nav-link' + (current_page?(new_resume_education_path(@resume)) ? ' active text' : ' text-white') do
              %i.bi.bi-book
              Education
          %li.nav-item
            = link_to new_resume_skill_path(@resume), class: 'nav-link' + (current_page?(new_resume_skill_path(@resume)) ? ' active text' : ' text-white') do
              %i.bi.bi-graph-up
              Skills
          %li.nav-item
            = link_to new_resume_social_link_path(@resume), class: 'nav-link' + (current_page?(new_resume_social_link_path(@resume)) || current_page?(edit_resume_social_link_path(@resume)) ? ' active text-warning' : ' text-white') do
              %i.bi.bi-link-45deg
              Socials
          %li.nav-item
            = link_to new_resume_cover_letter_path(@resume), class: 'nav-link' + (current_page?(new_resume_cover_letter_path(@resume)) || current_page?(edit_resume_cover_letter_path(@resume)) ? ' active text-warning' : ' text-white') do
              %i.bi.bi-file-earmark-text
              Summary
          %li.nav-item.d-none.d-md-block
            = link_to edit_resume_theme_path(@resume), class: 'nav-link' + (current_page?(edit_resume_theme_path(@resume)) ? ' active text' : ' text-white') do
              %i.bi.bi-palette
              Themes

          = render 'resumes/completion_pie_chart', resume: @resume
