.container-fluid
  .row
    .col-lg-2
      = render 'sidebar'

    .col-lg-10
      .d-flex.justify-content-between.align-items-center.pt-3.pb-2.mb-3.border-bottom
        .ms-auto
          = link_to root_path, class: 'btn' do
            %i.bi.bi-arrow-left-circle-fill.me-1
            Back

          - if @resume.theme
            = link_to download_pdf_resume_path(@resume, format: :pdf), class: 'btn' do
              %i.bi.bi-download.me-1
              Download PDF

      .container.pt-4
        .d-none.d-md-block
          %h3.pt-4 PDF Preview
          - if @resume.theme
            .spinner-container.d-flex.justify-content-center.align-items-center
              .spinner-border.text-danger.spinner-border-lg{ role: "status", data: { controller: "spinner", spinner_target: "spinner" } }
                %span.visually-hidden Loading...
            %iframe{ src: resume_path(@resume, format: :pdf), width: "100%", height: "1000px", style: "border: none;", data: { spinner_target: "iframe" } }

        .d-block.d-md-none.mt-4
          .theme-content
            = render "layouts/resumes/#{@resume.theme.name}_components/index", resume: @resume
