%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  %a.navbar-brand{href: "/"}
    = image_tag('logo.png', alt: 'CareerCrafterPro Logo', class: 'navbar-logo')
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.ms-auto
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"href" => "#", "id" => "navbarDropdownMenuLink", "role" => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
            %i.bi.bi-bell-fill.me-2
            Notifications
          .dropdown-menu.dropdown-menu-end.dark-dropdown{"aria-labelledby" => "navbarDropdownMenuLink"}
            = link_to edit_user_registration_path, class: 'dropdown-item' do
              %i.bi.bi-gear-wide-connected.me-2
              Profile Settings
            - if current_user.admin?
              = link_to admin_root_path, class: 'dropdown-item' do
                %i.bi.bi-gear-fill.me-2
                Admin Dashboard
            - if current_user.subscriptions.present?
              = link_to manage_subscription_path, class: 'dropdown-item' do
                %i.bi.bi-gear-fill.me-2
                Manage Subscriptions
            = form_tag destroy_user_session_path, method: :delete, class: 'dropdown-item' do
              = button_tag type: 'submit', class: 'btn btn-logout' do
                %i.bi.bi-box-arrow-right.me-2
                Logout
      - else
        = link_to new_user_registration_path, class: 'dropdown-item' do
          %i.bi.bi-person-plus-fill.me-2
          Sign Up
        = link_to new_user_session_path, class: 'dropdown-item' do
          %i.bi.bi-box-arrow-in-right.me-2
          Login
      - if user_signed_in?
        %li.nav-item
          = link_to new_resume_path, class: 'btn btn-craft' do
            %i.bi.bi-plus-circle-fill.me-2
            Craft
